.cards{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 2fr repeat(2, 1fr); */
    /* First column will be 30% of the page 
     grid-template-columns: 30% repeat(2, 200px); */

     gap: 16px 32px;
     
     /* row-gap: 16px;
     column-gap: 32px; */

     /* Not commongly used */
     /* grid-template-rows: repeat(3, 300px); */
}