@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    font-family: 'PT Sans', sans-serif;
}

p,
a,
span {
    font-family: 'PT Serif', serif;
}

/* 
font-family: 'PT Sans', sans-serif;
font-family: 'PT Serif', serif;
*/

/* 
red: #d01919;
grey: #efefef;

*/

body {
    width: 1900px;
}

/* Header */
.header {
    background-color: #d01919;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.nav-bar {
    margin: 0 60px;
    padding: 16px 0;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}


.nav-list .nav-link i,
.nav-list span {
    padding-left: 8px;
    font-size: 16px;
    color: #fff;
}

/* Hero */

.hero {
    position: relative;
    color: #fff;
    text-align: center;
}

.hero .hero-img {
    width: 1900px;
    height: 700px;
    object-fit: cover;
    z-index: 1;
}

.hero .list {
    list-style: none;
    position: absolute;
    display: flex;
    gap: 40px;
    top: 90px;
    right: 16px;
    /* z-index: 2; */
}

.list .item a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 1px;
}

.hero .title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    letter-spacing: 10px;
    font-weight: 600;
}

.hero .desc {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* font-size: 18px; */
    width: 500px;
}

.hero .btn {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    background-color: #d01919;
    color: #fff;
    border-radius: 6px;
    padding: 6px 8px;
}

/* Welcome section */

.welcome {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome .divider,
.coaches .divider {
    height: 3px;
    width: 40px;
    background-color: #d01919;
}

.welcome .head,
.coaches .head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head .sub,
.coaches .sub {
    font-size: 36px;
    margin-bottom: 24px;
    text-align: center;
}

.features {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.features .card {
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    margin: 36px auto;
}

.card .card-img {
    width: 50px;
    height: 50px;
    margin-bottom: 24px;
}

.card .feature-title {
    color: #d01919;
    text-align: center;
    margin-bottom: 24px;
}

.card .desc {
    width: 60%;
    text-align: center;
    margin-bottom: 48px;
}

/* Coaches */

.coaches {
    background-color: #efefef;
    margin-bottom: unset;
    padding-bottom: unset;
}
.coaches .head .sub{
    margin-top: 24px;
}

.coaches .coaches-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 24px auto;
    align-items: center;
    gap: 60px;
}

.coaches-cards .coach {
    display: flex;
    flex-direction: column;
    width: 35%;
    align-items: center;
}

.coaches-cards .img{
    width: 50%;
    height: 50%;
}

.coach .coach-name {
    font-weight: 600;
    text-align: center;
    margin-top: 24px;
}

.coach .type{
    color: #d01919;
    text-align: center;
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 12px;
}

.coach .info{
    width: 270px;
    text-align: center;
    margin-bottom: 48px;
}

footer .foot {
    background-color: #d01919;
    color: black;
    text-align: center;
    padding: 8px 0;
}

