/* 
red: #e24e2a;
text-red:#f5c7bc;

bc-menu: #ececec;

green: #1b9772;
text-color-green: #a2d4c5;

dark-grey: #383838;
title: #2c383b;
text: #6c6c6c;

withe-text: #555555;
light-color: #a2a2a2;

 */

body{
    background-color: aqua;
}