@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

:root {
    --page-bg: #efefef;
    --icon-bg: #909090;
    --text-color: #222222;
    --btn-bg: #111111;
}

body {
    font-family: 'Raleway', sans-serif;
}

.page-section {
    max-width: 1880px;
    margin: 24px auto;
    background-color: var(--page-bg);
    height: calc(100vh - 24px);
}

