@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

:root {
    --page-bg: #efefef;
    --icon-bg: #909090;
    --text-color: #222222;
    --btn-bg: #111111;
}

/*  Global styles */


body {
    font-family: 'Raleway', sans-serif;
    color: var(--text-color);
}

.page-section {
    max-width: 1880px;
    margin: 1.5rem auto;
    background-color: var(--page-bg);
    height: calc(100vh - 1.5rem);
    padding: 3rem 5rem;
    overflow: hidden;
}

.section-flexed {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-flexed .section-info {
    flex: 0 0 50%;
}

.section-flexed .section-img {
    flex: 0 1 35%;
}

.page-section .title {
    font-weight: normal;
    font-size: 3rem;
    margin-bottom: 2.5rem;
}

.page-section .desc {
    font-style: italic;
    margin-bottom: 2rem;
}

.page-section .divider.vertical {
    height: 6rem;
    width: 1px;
    background-color: var(--btn-bg);
}


/*  Hero */

#hero .page-section {
    position: relative;

}

#hero .navigation {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

#hero .hero-img {
    position: absolute;
    width: 50%;
    bottom: 0px;
    right: 5rem;
}

/*  Camera */

#camera .title .divider.horizontal {
    display: inline-block;
    height: 1px;
    width: 6rem;
    background-color: var(--btn-bg);
}

#camera .socials {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#camera .socials .social {
    background-color: var(--icon-bg);
    width: 3rem;
    height: 3rem;
    color: #efefef;
    position: relative;
}

#camera .socials .social i {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Photographer */

.photographer-img {
    margin: 1.5rem auto;
    width: 99%;
    height: 100%;
}

/*  Gallery */
#gallery {
    display: flex;
    align-items: center;
}

#gallery .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

/* #gallery .list .picture{
    transform: scale(1);
    transition: transform 300ms ease-in-out;
} */

#gallery .list .picture:hover {
    transform: scale(1.5);
}


/*  Contacts */

#contacts .title{
    text-align: center;
}

#contacts .desc{
    text-align: center;
}


#contacts .form{
    max-width: 70%;
    margin: 3rem auto;
    /* display:grid; */
   
}

#contacts .form input,
textarea{
    background-color: transparent;
    border: 1px solid var(--btn-bg);
    padding: 0.25rem;
    width: 100%;
}

#contacts .form textarea{
    resize: none;
}

#contacts .btn{
    width: 100%;
    display: block;
    padding: 0.25rem 8rem;
    font-weight: 600;
    color: var(--page-bg);
    background-color: var(--btn-bg);
}


#contacts .foot p{
text-align: center;
}