body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: aqua;
    padding: 24px 36px;
    text-align: center;
    /* margin-left: 40%; */
}

.container .form {
    position: relative;
    padding-top: 36px;
    width: 300px;
    height: 100px;
    border: 1px solid red;
}

.container .form .title {
    position: absolute;
    top: -35px;
    left: 0px;
    border: 1px solid black;
    padding: 4px 80px 4px 4px; 
}

.container .icon-username i{
    padding-top: 1px;
    padding-right: 2px;
    position: absolute;
}

.container .icon-password i{
    position:absolute;
}

.container .form label {
    display: inline-block;
    margin-bottom: 12px;
    margin-left: 12px;
}

/* .container .form input{
    padding-top: 2px;
    padding-right: 2px;
} */


.container .form .btn {
    display: block;
    margin-left: 10px;
}