body {
    display: flex;
    background-color: rgb(238, 238, 238);
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
}

.container ul {
    list-style-type: none;
}

.container ul li {
    display: inline-flex;
}

.image1,
.image3,
.image4 img{
    width: 200px;
    height: 400px;
    overflow: hidden;
    padding-left: 12px;
    border-radius: 6px;
}

.image2 img{
    width: 600px;
    height: 400px;
    background-color: black;
}
