html {
    font-family: Helvetica, sans-serif;
}
h1{
    display:inline;
}

nav {
    display: inline-block;
}

li {
    display: inline-block;
    padding: 30px 50px;
    color: green;
}

ul {
    display: inline-block;
    list-style-type: none;
}