@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* 
#86d862 zeleno
#05a2d3 sinio
#e0e0df sivo
bg - #f6f7f8


*/

.section {
    width: 80%;
    margin: 4rem auto;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    background-color: #f6f7f8;
    border-radius: 20px;
    border: 1px solid gray;
    padding: unset;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


.section .img {
    width: 50%;
    filter: brightness(70%);
    overflow: hidden;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: unset;
    padding: unset;
}

.calculator {
    margin-left: 2rem;
    width: 50%;
}

.calculator .title {
    text-align: center;
    margin: 4rem 0;
}

.calculator .utits .unit {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 8px;
  
}

.calculator .utits .standart {
    background-color: #86d862;
    margin-right: 8rem;
    margin-bottom: 2rem;
    margin-left: 9rem;
    padding: 0.2rem 1rem;
}

.calculator .utits .metric {
    background-color: #e0e0df;
    padding: 0.2rem 1.5rem;
    margin-bottom: 2rem;
}

.form .desc {
    font-weight: bold;
    text-align: center;
    margin: 2rem 0;
}


.gender .select {
    margin-right: 2rem;
    margin-left: 10rem;
    width: 25%;
    height: 1.5rem;
}

.gender .year {
    width: 25%;
    height: 1.5rem;
}

.weight .pounds {
    width: 70%;
    margin-left: 6rem;
    height: 1.5rem;
}

.form .height .feet,
.form .height .inches {
    width: 36%;
    margin-bottom: 4rem;
    height: 1.5rem;
}

.form .height .feet{
    margin-left: 5rem;
}


.calculator .form .btn {
    width: 80%;
    margin-left: 3rem;
    background-color: #05a2d3;
    border-radius: 20px;
    border: 1px solid #05a2d3;
    color: #fff;
    font-weight: bold;
    padding: 0.75rem 0;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}