body {
    font-family: Arial, Helvetica, sans-serif;
}

.designer-card {
    width: 400px;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    color: white;
}

.designer-card::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: black;
    opacity: 0.3;
    z-index: 1;
    transition: opacity 300ms ease-in-out;
}


.designer-card .img-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 300ms ease-in-out;
}

.designer-card .content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 12px;
    z-index: 2;
}

.designer-card .content .tag {
    font-size: 14px;
    color: orange;
}

.designer-card .content .title {
    font-size: 18px;
    margin-bottom: 12px;
}

.designer-card .meta-info {
    display: grid;
    grid-template-columns: 20px 2fr 3fr;
    gap: 6px
}

.designer-card .meta-info .author {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
}

.designer-card .meta-info .author img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* HOVER EFFECT */

.designer-card:hover .img-bg{
    transform: scale(1.5);
 }

 .designer-card:hover::before{
    opacity: 0.5;
 }


/* Second card */

.card {
    width: 300px;
    aspect-ratio: 1/1.5;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    color: white;
}

.card .img-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .content {
    position: absolute;
    padding: 12px;
    bottom: -147px;
    left: 0;
    width: 100%;

    transition: bottom 300ms linear;

    background: rgb(2, 0, 36);
    background: linear-gradient(180deg,
            rgba(2, 0, 36, 0) 0%,
            rgba(2, 0, 36, 0.7222222222222222) 30%,
            rgba(2, 0, 36, 1) 60%);
}

.card .content .meta{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:2px;
    text-align: center;
    margin-bottom: 12px;
}

.card .content .title{
    font-size: 22px;
    text-align: center;
}

.card .content .description{
    height: 137px;
    overflow: hidden;
    margin-top: 10px;
}

/* HOVER EFFECT */

.card:hover .content{
   bottom: 0px;
}


/* Simple GRID */

#simple-grid{
    margin-top: 32px;
    padding: 12px;
    border: 1px dashed black;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 100px);
    gap: 12px;
}


#simple-grid .item{
    background-color: orange;
    border-radius: 4px;
    text-align: center;
}

/* GRID AREAS EXAMPLE */

#grid-areas{
    margin-top: 32px;
    padding: 12px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 100px);
    gap:12px;
    grid-template-areas: 
    "small1 medium1 large"
    "small1 medium1 large"
    "small2 medium1 large"
    "small2 medium2 large"
    "small3 medium2 large"
    "small3 medium2 large";
}

#grid-areas .grid-article{
position:relative;
height: 100%;
}

#grid-areas .item{
    overflow: hidden;
}

#grid-areas .grid-article h2{
    position: absolute;
    top:50%;
    left: 50%;
transform: translate(-50%, -50%);
text-align: center;
color: white;
}

#grid-areas .grid-article img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#grid-areas .item1{
    grid-area: small1;
}

#grid-areas .item2{
    grid-area: small2;
}

#grid-areas .item3{
    grid-area: small3;
}

#grid-areas .item4{
    grid-area: medium1;
}

#grid-areas .item5{
    grid-area: medium2;
}

#grid-areas .item6{
    grid-area: large;
}