/* 
grey: #303030;
red-btn: #e50914;
black: #000000;
white: #fff;
bg-grey: #222222;

 */

 /* Global */

 body{
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #222222; */
 }

 .btn{
    background-color:#e30813;
    color:  #fff;
    border-radius: 4px;
    border: none;
    padding: 0.25rem 1rem;
 }

 /* Header */

 .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    overflow: hidden;
    padding: 0 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
 }