body {
    font-family: 'Poppins', sans-serif;
    color: #acacac;
}

h1,
h2,
h3,
h4{
    font-family: 'Montserrat', sans-serif;
    color: #6f6f6f;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;  
    gap: 24px 
}

.container .text-content .title{
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
}

.container .img,
.container .text-content{
width: 50%;
}

.container .subtitle{
    font-size: 18px;
    padding-bottom: 4px; 
}

.text-content .info:last-of-type{
    margin-bottom: 32px;
}

.list{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.list .item{
    display: flex;
    align-items: center;
    gap: 24px;
}

.list .item:not(:last-child){
margin-bottom: 16px;
}

.list .item .icon{
width: 70px;
margin-bottom: 12px;
}


.item  .wrapper .subtitle,
.item  .wrapper .info{
    margin: 0px;
}
