* {
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: row;
}

.card-layout {
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: column;
    /* height: 1200px; */
}

.card-layout article {
    align-items: center;
    border: 1px solid black;
    margin: 12px;
    padding-bottom: 6px;
}

.card-layout article img {
    width: 100%;
}

.card-layout article p {
    border-bottom: 1px solid black;
}
.card-layout article footer span {
   text-decoration: none;
}

/* .card-layout.flex {
  align-items: stretch;
}

.card-layout.masonry {
  
    align-items: start;
} */