body{
    background-color: rgb(238, 238, 238);
    display: flex;
}

.card-layout{
    display: flex;
flex-wrap: wrap;
max-width: 600px;
}

.card-layout article{
    align-items: center;
    border: 1px solid black;
    margin: 12px;
}

.card-layout article img{
    width: 100%;
}

.card-layout article footer{
    border-top: 1px solid black;
}