* {
    box-sizing: border-box;
}

/* Flex Example */

.container {
    display: flex;
    max-width: 85vw;  
    background-image: url('https://images.unsplash.com/photo-1472214103451-9374bd1c798e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80');
}

.container section{
    display: flex;
    /* align-items: center; */
    text-align: center;
}
.container .item {
    border: 1px solid black;
    padding: 12px;
    display: block;
}

.container .week {
    width: 75%;
    flex-wrap: wrap;
}

.container .week .item{
    width: 20%;
}

.container .week .item:nth-child(1),
.container .week .item:nth-child(7){
    width: 100%;
}

.container .week .item:nth-child(8),
.container .week .item:nth-child(9){
    width: 50%;
}

.container .notes {
    width: 25%;
    flex-direction: column;
}

.container .notes .item{
    /* width: 100%;
    height: 100%; */
    flex: 1 1 50%;
}


/* Grid Example */