html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6{
    font-family: Georgia, serif;
}

.square {
    list-style-type: square;
}

.disc {
    list-style-type: disc;
}

.circle {
    list-style-type: circle;
}

ol{
    line-height: 0.5;
}

table{
    width: 100%;
}
thead{
    background-color: grey;
}

table,td{
    border: 1px solid black;
  
}

blockquote{
    border-left: 2px rgb(221,221,221) ;
    font-style: italic;
 
}
