body {
    background-color: rgb(238, 238, 238);
    box-sizing: border-box;
}

.page {
    display: flex;
    flex-wrap: wrap;
}

article img{
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    padding: 6px;
}
article blockquote{
    font-family: Georgia, serif;
}

ul li a{
    color: rgb(0, 153, 0);
    text-decoration: none;
}