body {
    font-family: 'Raleway', sans-serif;
    max-width: 1920px;
    padding: 32px;
}

/* #efefef
#222222
#111111
icon-bg: #909090
*/



/* layout */
.section{
    background-color: #efefef;
    padding: 5rem;
    margin-top: 2rem;
}

.section .title {
    font-weight: normal;
font-size: 3.5rem;
margin-bottom: 2.5rem;
}

.section .desc {
    font-size: 1.75rem;
    font-style: italic;
}

/* Header */
.header {
    display: none;
    }

/* Hero */
/* #hero .desc {

} */

.hero .img{
    width: 50%;
}

.hero .info {
    width: 50%;
}