@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 

bg-tumno: #4e6f8e;
bukvi-footer: #85849f;
taksi: #c3bab8;
sivo: #e6e6e6;

tekst: #54546d;
*/

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
    color:#54546d;
}

span,
p,
a {
    font-family: 'Lato', sans-serif;
    color: #54546d;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header .logo {
    width: 60px;
    margin-left: 50px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 10px;
}

.nav-list li:last-child {
    margin-right: 50px;
}

.nav-links a {
    text-decoration: none;
    font-weight: 500;
}

/* Calculator */

.calculator {
    position: relative;
    background-color: #4e6f8e;
    z-index: 1;
    height: 500px;
}

.calculator .calc {
    width: 20%;
    height: 50%;
    margin: 40px 0;
    object-fit: cover;
}
/* Tax */


.tax {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    top: 70px;
    align-items: center;
}

.tax .title {
    font-size: 36px;
    color: white;
    font-weight: 500;
}

/* Cards */

.cards {
    display: flex;
    flex-direction: row;
    gap: 48px;
    margin: 0 120px;
    align-items: center;
    justify-content: center;
}

.cards .card {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    background-color: white;
    border-radius: 8px;
}

.card .subtitle {
    text-align: center;
    font-size: 24px;
    margin-top: 36px;
    margin-bottom: 12px;
}

.card .desc {
    text-align: center;
    margin-bottom: 36px;
    letter-spacing: 2px;
}

.card .desc-second,
.card .desc-third {
    margin: 36px 24px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 500;
}

.card .btn {
    border: 1px solid #9a5dc6;
    background-color: #9a5dc6;
    color: white;
    border-radius: 20px;
    margin: 48px 170px;
    padding: 12px 24px;
}

.card .bottom {
    height: 130px;
    width: 500px;
    color: white;
    margin-bottom: unset;
    padding: unset;
    position: absolute;
    bottom: 0.5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.card .bottom.first {
    background: rgb(4, 156, 62);
    background: linear-gradient(83deg, rgba(4, 156, 62, 0.7868852459016393) 49%, rgba(73, 212, 126, 1) 100%);
}

.card .first .price,
.card .second .price,
.card .third .price {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
}

.card .first .sum,
.card .second .sum,
.card .third .sum {
    text-align: center;
    color: white;
}

.card .bottom.second {
    background: rgb(77, 109, 138);
    background: linear-gradient(83deg, rgba(77, 109, 138, 1) 49%, rgba(77, 109, 138, 0.7455357142857143) 100%);
}

.card .bottom.third {
    background: rgb(76, 57, 167);
    background: linear-gradient(83deg, rgba(76, 57, 167, 1) 49%, rgba(141, 126, 226, 0.8379726890756303) 100%);
}

.card .second,
.card .third {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.card .bottom .divider>span {
    display: block;
    height: 90px;
    width: 2px;
    background-color: white;
    margin-top: 8px 0;
}

/* Info */

.main .info{
    display: flex;
    margin-top: 200px;
    width: 1200px;
    flex-direction: column;
 margin-left: 120px;
}

.info-head .desc{
    margin-bottom: 36px;
}
.info-body .info-desc1{
    background-color: #e6e6e6;
    margin: 0;
    padding: 24px 0px;
}

.info-body .info-desc1:first-child{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.info-body .info-desc2{
    background-color: #f8f8f8;
    width: 100%; 
    padding: 24px 0px;
    margin: 0;
}


.info-body .info-desc1 img,
.info-body .info-desc2 img{
    padding-right: 150px;
}

.info-body .info-desc2:last-child{
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* .info-body .info-desc1 img:nth-last-of-type(1),
.info-body .info-desc2 img:nth-last-of-type(1){
margin-left: 140px;
}

.info-body .info-desc1 .check,
.info-body .info-desc2 .check{
margin-right: 50px;
} */


.finance{
    display: flex;
    margin: 60px auto;
}

.finance .right{
   align-self: center;
}

footer .foot{
    background-color: #4e6f8e;
    text-align: center;
    padding: 24px 0;
}
